* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #6cc4cc;
    
}
header {
    width: 100vw;
    height: 14vh;
    padding: 10px 2px 0px 2px;
    display: flex;
    flex-flow: row nowrap;
}

#ent_cid {
    width: 80vw;
    height: 13vh;
    border: 1px solid rgba(0, 0, 0, 0.418);
}

#button {
    background-color: white;
    color: #6cc4cc;
    width: 18vw;
    height: 14vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
}
#infCidade {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

.info {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em
}

.pai {
    display: flex;
    flex-wrap: nowrap;
}